body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

/* Blocker: */

#blocker {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000000bb;
  color: white;
}

#blocker.hidden {
  display: none;
}

/* Conversation Area: */

#conversation {
  background: #3d3d3d;
  flex: 1 1 auto;
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
}

#conversation > li {
  margin: 5px;
}

/* Message Bubbles: */

.bubble > div {
  border-radius: 1em;
  padding: 0.5em 1em 0.5em 1em;
  display: inline-block;
  max-width: 80%;
  min-width: 40%;
  overflow-wrap: break-word;
  box-shadow: 0 0 10px black;
}

.bubble.received {
  text-align: left;
}

.bubble.received > div {
  background: skyblue;
  border-top-left-radius: initial;
}

.bubble.received > div > :first-child {
  color: dimgray;
  max-width: 50%;
  display: block;
  overflow: hidden;
  overflow-wrap: initial;
  text-overflow: ellipsis;
  margin-bottom: 0.5em;
}

.bubble.received > div> :first-child::before {
  content: "~";
}

.sent {
  text-align: right;
}

.sent > div {
  background: lightgray;
  border-top-right-radius: initial;
  text-align: initial;
}

.error {
  background: #ff8888;
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
  box-shadow: 0 0 10px black;
  border-radius: 0.2em;
  padding: 0.2em;
  text-align: center;
}

/* Footer: */

#footer {
  background: whitesmoke;
  border-top: 1px solid lightgray;
  display: flex;
  padding: 3px;
}

#footer > * {
  margin: 3px;
}

#footer > .message {
  flex: 1 1 auto;
}

#footer > .controls {

}

#footer > .controls > * {
  height: 100%;
}
